{% extends "basealt.html" %}

{% block head %} <!-- uses Jinja in the tab title to define our name -->
<title> {{name}} | Alternate Dimension </title>
{% endblock %}

{% block content %}
<body style = "background-color: #ffffff;" > <!-- use of HTML CSS for background color which is formatted in hex code -->
    <h1 style="text-align:center; color: #0577c7"> Welcome to the Alternate Dimension </h1> <!-- header aligned to center -->
    <h3 style="color: #ffffff">~</h3>
    <h2 style = "text-align:center; color: #0577c7">Here you can find AP preparatory material to prepare students for the CSP AP exam.</h2>
    <img src="/static/AP.png" class="container-fluid">
</body> <!-- COVID art image as src attribute -->
{% endblock %}