{% extends "basealt.html" %}

{% block title %}
TPT Reflections
{% endblock %}

{% block content %}
<body>
</br>
</br>
</br>
</br>
<!-- code 11-14 creates the positions for the cards -->
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 12/15: Binary/Hexadecimal</h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-primary" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/5: The Internet </h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-primary" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/12: The Internet Part 2</h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-primary" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/26: Extracting Information From Data</h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-primary" target="_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}