{% extends "basealt.html" %}

{% block title %}
TPT Reflections
{% endblock %}

{% block content %}
<body>
</br>
</br>
</br>
</br>
<!-- code 11-14 creates the positions for the cards -->
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/binary.png" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 12/15/20: Binary/Hexadecimal</h5>
                    <p class="card-text">Description</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1AHxS9m6NeIYoHVYrvRbeOzNFi22K9IHYMjnD1Z63X-I/edit?usp=sharing" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/internet part 1.png" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/5/21: The Internet </h5>
                    <p class="card-text">Description</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1A6uWBWWicIYhcAWv7gRO4RH0vxMPzd-7bN_8Gw7UeD0/edit?usp=sharing" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/internet part 2.png" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/12/21: The Internet Part 2</h5>
                    <p class="card-text">Description</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1PtR0jTM6tfho-LHujAiA6JCGvB-1URFuoZP-LzO1ZEU/edit?usp=sharing" class="btn" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/extracting%20info.png" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/26/21: Extracting Information From Data</h5>
                    <p class="card-text">Description</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/18hV0sX_fLYsWTacSko4Kr8eXM73n0ZAN9kaZoZFddHY/edit?usp=sharing" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}