{% extends "basealt.html" %}

{% block head %}
<title> Test Prep Tuesday </title>
{% endblock %}

{% block content %}
<style>
    .bgimg{
        background: #ffffff;
        background: -webkit-linear-gradient(45deg,  #ffffff 0%,#c5ced9 100%);
        background: -o-linear-gradient(45deg,  #ffffff 0%,#c5ced9 100%);
        background: linear-gradient(45deg,  #ffffff 0%,#c5ced9 100%);
    }
</style>
<body class="bgimg">
<br>
<h1 style="text-align:center; color: #0577c7">TPT Reflections</h1>
<br>
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/binary.png" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 12/15/20: Binary/Hexadecimal</h5>
                    <p class="card-text">In this lesson, we were taught how to convert data into binary and hexadecimal. We were also taught real life applications of this knowledge.</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1AHxS9m6NeIYoHVYrvRbeOzNFi22K9IHYMjnD1Z63X-I/edit?usp=sharing" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/internet part 1.png" class="card-img-top"> <!--internet%20part%201.png-->
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/5/21: The Internet </h5>
                    <p class="card-text">In this lesson, we were taught the basics of how data is transferred in packets over networks. We learned about the 7 layers of the OSI model, which explains how computers communicate with each other.</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1A6uWBWWicIYhcAWv7gRO4RH0vxMPzd-7bN_8Gw7UeD0/edit?usp=sharing" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/internet%20part%202.png" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/12/21: The Internet Part 2</h5>
                    <p class="card-text">This lesson was a continuation of last week's TPT lesson. In this lesson, we learned about the different OSI model layers in greater detail.</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1PtR0jTM6tfho-LHujAiA6JCGvB-1URFuoZP-LzO1ZEU/edit?usp=sharing" class="btn" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/extracting%20info.png" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 1/26/21: Extracting Information From Data</h5>
                    <p class="card-text">In this lesson, we learned how to produce the most accurate data by getting rid of biased information, missing data, inaccurate data, and invalid data.</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/18hV0sX_fLYsWTacSko4Kr8eXM73n0ZAN9kaZoZFddHY/edit?usp=sharing" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/program_data.jpg" class="card-img-top"> <!-- https://www.extremetech.com/wp-content/uploads/2012/02/microsoft-data-center.jpg-->
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 2/2/21: Using Programs with Data</h5>
                    <p class="card-text">In this lesson, we learned how to use different programs to isolate the specific data we need. We learned about using algorithms and programs to search, filter, highlight trends, and summarize data.</p>
                    <a style="background-color: #fedb00; color: black" href="https://files.slack.com/files-pri/TUDAF53UJ-F01LJ08QRCN/screen_shot_2021-02-02_at_10.02.11_am.png" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/data_abstraction.jpg" class="card-img-top"> <!--https://boostlabs.com/wp-content/uploads/2019/09/10-types-of-data-visualization-1-1024x614.jpg -->
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 2/9/21: Data Abstraction</h5>
                    <p class="card-text">In this lesson, we learned about the basics of data abstractions and examples of how to apply data abstraction.</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1TZYoZqU0v-DbVQeq1jkG_gTIyksLL4sqFYuWkDbatnc/edit" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/college_board.jpeg" class="card-img-top"> <!--https://www.pathstoliteracy.org/sites/pathstoliteracy.perkinsdev1.org/files/college_board.JPG -->
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 2/16/21: College Board Portfolio Requirements</h5>
                    <p class="card-text">In this lesson, we learned more about requirements for both the multiple choice and performance task portions of the AP test for the course. We were provided examples from previous years as well.</p>
                    <a style="background-color: #fedb00; color: black" href="https://docs.google.com/document/d/1zRBn85icF9xMfOSDp04dJn5xHSGEu8Fcljinm60J2GI/edit?pli=1" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="/static/altdim/algorithms.png" class="card-img-top"> <!-- https://www.adweek.com/wp-content/uploads/2018/07/marketer-algorithm-content-2018.png-->
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">TPT 2/23/21: Algorithms and Lists</h5>
                    <p class="card-text">In this lesson, we learned about the basics of lists and the different algorithms that can be used to add, delete, and sort items within a list.</p>
                    <a style="background-color: #fedb00; color: black" href="https://drive.google.com/file/d/1-K_k_CFYGZ4pxFUuomSfQ-JV9QmQGZf2/view?usp=sharing" class="btn " target="_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
