{% extends "base.html" %}

{% block head %}
<title> {{name}} | News </title>
{% endblock %}

{% block content %}
<head>
    <style>
        html,
        body,
        header,
        #main {
            height: 100%;
        }

        h2a {
            text-shadow: 2px 2px 10px black;
        }

        h4a {
            text-shadow: 2px 2px 7px black;
        }

        buttona {
            text-shadow: 2px 2px 7px black;
        }

        img {
            object-fit: cover;
            border-radius: 10px;
        }

        div_img {
            width: 300px;
            height: auto;
            text-align: center;
            padding: 15px;
            border: 20px solid #59ABE3;
        }

    </style>
</head>
<body style="background-color: #59ABE3">
<section>

    <!-- Heading -->
    <h2 style="color: white; font-family: Palatino; font-size: 70pt" class="mb-5 font-weight-bold text-center">The Platypodes Times</h2>

    <!--Article 1-->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                <div class="carousel-inner z-depth-1-half" role="listbox">
                    <div_img class="carousel-item active">
                        <img class="d-block w-100" src="https://cdn.cnn.com/cnnnext/dam/assets/210222213554-sputnik-v-packing-2-exlarge-169.jpeg"
                             alt="First slide">
                    </div_img>
                </div>
            </div>
        </div>

        <!--Article Content-->
        <div class="col-md-6">
            <h4 style="color: white; font-family: Times" class="mb-3"><strong>Don't drop the masks yet. One coronavirus variant is 'increasing exponentially' as the US races to vaccinate
            </strong></h4>

            <p style="color: white; font-family: Times">(CNN) - With every Covid-19 vaccination, the United States
                inches closer to defeating the pandemic that has killed over half a million Americans and left countless
                more with long-term complications.</p>

            <p style="color: white; font-family: Times">But major challenges stand in the way. Some Americans are
                ditching personal responsibility and forgoing masks, even though the highly contagious B.1.1.7
                variant has spread to at least 46 states and Washington, DC.</p>

            <p style="color: white; font-family: Times">"That strain is increasing exponentially. It's spiking up,"
                said Dr. Celine Gounder, an infectious diseases specialist and epidemiologist. "So we are probably right
                now on a tipping point of another surge."</p>

            <p style="color: white; font-family: Times">Research shows that in the US, the B.1.1.7 variant is 59% to
                74% more transmissible than the original novel coronavirus.</p>

            <p style="color: white; font-family: Times">And the current rate of vaccinations might not be fast enough
                to fend off a major B.1.1.7 surge in the coming weeks.</p>

            <p style="color: white; font-family: Times">by <a><strong>Holly Yan</strong></a>, 12:54 PM PST, Sun March 7, 2021 </p>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<section>

    <!--Article 2-->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                <div class="carousel-inner z-depth-1-half" role="listbox">
                    <div_img class="carousel-item active">
                        <img class="d-block w-100" src="https://s.abcnews.com/images/General/covid-relief-congress-senate-joe-biden-08-ht-llr-210306_1615050982252_hpMain_16x9_384.jpg" alt="First slide">
                    </div_img>
                </div>
            </div>
        </div>

        <!--Article Content-->
        <div class="col-md-6">
            <h4 style="color: white; font-family: Times" class="mb-3"><strong>Senate passes $1.9 trillion coronavirus relief bill. Here's what's next.
            </strong></h4>

            <p style="color: white; font-family: Times">(abcNews) - After more than 25 hours of debate and votes, Senate
                Democrats passed a sweeping $1.9 trillion COVID relief bill Saturday aimed at helping lower-income
                Americans, small businesses, schools, the hard-hit hospitality and tourism industries, as well as state
                and local governments -- with aid also going to boost front-line pandemic work, vaccines, testing and
                tracing plans.</p>

            <p style="color: white; font-family: Times">The bill passed on a party-line vote and will now head back
                over to the House, which will have to reconcile several key changes before it heads to President
                Joe Biden's desk just days before unemployment benefits expire for millions of Americans.</p>

            <p style="color: white; font-family: Times">Senate Majority Leader Chuck Schumer jubilantly celebrated the
                bill’s passage on Saturday afternoon, hailing it as “perhaps the most significant bill to help the poor
                and working people in decades.”</p>

            <p style="color: white; font-family: Times">Schumer also praised Biden for his leadership, saying he put
                together “a great plan.”</p>

            <p style="color: white; font-family: Times">“I said from the beginning, we were going to power through.
                We're not going to let anything stop us until we got the job done," the New York Democrat said.
                "Unity, unity, unity. That's how we got this done."</p>

            <p style="color: white; font-family: Times">by <a><strong>Trish Turner and Allison Pecorin</strong></a>, 11:49 AM PST, Sat March 6, 2021 </p>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<section>

    <!--Article 3-->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                <div class="carousel-inner z-depth-1-half" role="listbox">
                    <div_img class="carousel-item active">
                        <img class="d-block w-100" src="https://media.nbcsandiego.com/2019/09/AdobeStock_348030711.jpeg?quality=85&strip=all&resize=850%2C478"
                             alt="First slide">
                    </div_img>
                </div>
            </div>
        </div>

        <!--Article Content-->
        <div class="col-md-6">
            <h4 style="color: white; font-family: Times" class="mb-3"><strong>COVID-19 Anxiety Causes Forgetfulness and Anger, Study Says</strong></h4>

            <p style="color: white; font-family: Times">(NBC San Diego) - Many aspects of our pandemic lives are hurting
                our ability to plan, organize and remember things daily. Multitasking, stress and lack of sleep brought
                on by the pandemic have overloaded people mentally.</p>

            <p style="color: white; font-family: Times">Working from home, managing distance learning, unemployment,
                trying to get vaccinated…all things many people are juggling. These all bring on chronically high levels
                of the hormone cortisol, which is associated with stress and can lead to memory impairments in healthy
                adults.</p>

            <p style="color: white; font-family: Times">"There's been a lot of imaging studies to show that chronic
                stress and the pandemic is the epidemy of that," La Jolla-based psychologist Christina Huang said.
                "Chronic stress actually reduces the volume of the prefrontal cortex which is the part of the brain
                that is responsible for executive functioning and planning and the hippocampus which is the part of
                our brain responsible for memory consolidation."</p>

            <p style="color: white; font-family: Times">Huang said managing too many details can definitely make you
                feel "foggy" and bring on other emotions as a result.</p>

            <p style="color: white; font-family: Times">"So, overall the longer we are in this pandemic and the more
                chronic stress that we have. It's going to be harder to rationalize, harder to remember, we are going
                to be more easily agitated and more emotional," Huang said.</p>

            <p style="color: white; font-family: Times">by <a><strong>Mari Payton</strong></a>, 2:34 PM PST, Sun March 7, 2021 </p>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<section>

    <!--Article 4-->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                <div class="carousel-inner z-depth-1-half" role="listbox">
                    <div_img class="carousel-item active">
                        <img class="d-block w-100" src="https://kpbs.media.clients.ellingtoncms.com/img/photos/2021/02/22/csu_san_marcos_vax_photos11_t800.jpg?90232451fbcadccc64a17de7521d859a8f88077d"
                             alt="First slide">
                    </div_img>
                </div>
            </div>
        </div>

        <!--Article Content-->
        <div class="col-md-6">
            <h4 style="color: white; font-family: Times" class="mb-3"><strong>San Diego County Reports 499 New COVID-19 Cases, 12 Deaths
            </strong></h4>

            <p style="color: white; font-family: Times">(kbps) - Stadiums and theme parks were cleared Friday to reopen
                in California beginning April 1 subject to strict conditions.</p>

            <p style="color: white; font-family: Times">Theme parks can reopen at 15% capacity in the red tier of the
                state's four-tiered reopening plan. Capacity levels will shift to 25% in the orange tier and 35% in the
                yellow tier.</p>

            <p style="color: white; font-family: Times">San Diego County is in the most restrictive purple tier, but
                numbers are trending down at such a rate the county could be promoted to the red tier this month.</p>

            <p style="color: white; font-family: Times">The changes don't mean the threat of the coronavirus is
                completely gone, but it is a significant step toward reopening some large venues as virus case rates
                continue to decline and vaccinations numbers increase.</p>

            <p style="color: white; font-family: Times">"This is another strong step forward in our COVID recovery,"
                said San Diego County Board of Supervisors Chairman Nathan Fletcher.</p>

            <p style="color: white; font-family: Times">"We have worked hard to get to this point and this new state
                guidance will deliver a safe return to having fans at Padres games, outdoor concerts and amusements
                parks."</p>

            <p style="color: white; font-family: Times">Attendance at such events will be limited to in-state visitors.</p>

            <p style="color: white; font-family: Times">by <a><strong>City News Service</strong></a>, Fri March 5, 2021 </p>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
</body>
{% endblock %}