{% extends "base.html" %}

{% block head %}
<title> California </title>
{% endblock %}

{% block content %} <!-- temporary title of city just for testing purposes -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body style = "background-color: #e6ddc8;" >
    <h1 style="text-align:center;"> California </h1>
    <h3 style="color: #e6ddc8">~</h3>
    <h2 style="text-align:center;"> Trackers Coming Soon!</h2>
    <h1 style="color: #e6ddc8">~</h1>
    <img src="/static/California.jpg" width="900" height="592">
    <h5><a href="https://www.agedpixel.com/">Art by Aged Pixel</a></h5>
</body>
{% endblock %}
