{% extends "base.html" %}

{% block head %}
<title> {{name}} | Cookie Policy </title>
{% endblock %}

{% block content %}

<style>
    .bgimg {
        background-image: linear-gradient(#359697, #1c3057 );
        height: 200%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: #f2edae;
    //font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }
</style>

<body>
<div class="bgimg">
    <div>
        <h1 style="text-align:center;">Cookie Policy</h1>
    </div>
    <div style="text-align:center;">
        <h4>Please read the cookie policy carefully and give consent to the use of cookies, for a better experience of this website, before using the COVID-19 Tracker operated by the P2-Platypodes.</h4>
        <p id="demo" style="font-size:30px"></p>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">What are cookies?</h2>
        <h5 style="text-align:center;">Cookies are simple text files that are stored on your computer or mobile device by a website’s server. Each cookie is unique to your web browser. It will contain some anonymous information such as a unique identifier, website’s domain name, and some digits and numbers.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;"><b>What types of cookies do we use?</b></h2>
        <h3 style="text-align:center;"><i>Necessary Cookies</i></h3>
        <h5 style="text-align:center;">Necessary cookies allow us to offer you the best possible experience when accessing and navigating through our website and using its features. For example, these cookies let us recognize that you have created an account and have logged into that account to access the content.</h5>
        <h3 style="text-align:center;"><i>Functionality Cookies</i></h3>
        <h5 style="text-align:center;">Functionality cookies let us operate the site in accordance with the choices you make. For example, we will recognize your username and remember how you customized the site during future visits.</h5>
        <h3 style="text-align:center;"><i>Analytical Cookies</i></h3>
        <h5 style="text-align:center;">These cookies enable us and third-party services to collect aggregated data for statistical purposes on how our visitors use the website. These cookies do not contain personal information such as names and email addresses and are used to help us improve your user experience of the website.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">How to delete cookies?</h2>
        <h5 style="text-align:center;">If you want to restrict or block the cookies that are set by our website, you can do so through your browser setting. Alternatively, you can visit www.internetcookies.org, which contains comprehensive information on how to do this on a wide variety of browsers and devices. You will find general information about cookies and details on how to delete cookies from your device. </h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Contacting Us</h2>
        <h5 style="text-align:center;">If you have any questions about this cookie policy or our use of cookies, please contact us.</h5>
    </div>


</div>
</body>

{% endblock %}