{% extends "base.html" %}

{% block head %}
<title> {{name}} | Terms of Service and Privacy </title>
{% endblock %}

{% block content %}

<style>
.bgimg {
background-image: linear-gradient(#359697, #1c3057 );
height: 200%;
background-position: center;
background-size: cover;
position: relative;
color: #f2edae;
//font-family: "Courier New", Courier, monospace;
font-size: 25px;
}
</style>

<body>
<div class="bgimg">
    <div>
        <h1 style="text-align:center;">Terms of Service and Privacy</h1>
    </div>
    <div style="text-align:center;">
        <h4>Please read these terms of service carefully before using the COVID-19 Tracker operated by the P2-Platypodes.</h4>
        <p id="demo" style="font-size:30px"></p>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Conditions of Use</h2>
        <h5 style="text-align:center;">We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Privacy Policy</h2>
        <h5 style="text-align:center;">Before you continue using our website we advise you to read our privacy policy [link to privacy policy] regarding our user data collection. It will help you better understand our practices.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Copyright</h2>
        <h5 style="text-align:center;">Content published on this website (digital downloads, images, texts, graphics, logos) is the property of the P2-Platypodes and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this website is the exclusive property of the P2-Platypodes, with copyright authorship for this compilation by the P2-Platypodes. </h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Communications</h2>
        <h5 style="text-align:center;">The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on our website, you are going to receive regular emails from us. We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing.
        </h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Applicable Law</h2>
        <h5 style="text-align:center;">By visiting this website, you agree that the laws of the State of California, without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between the P2-Platypodes and you, or its business partners and associates. </h5>
    </div>
    <hr>
    <div>
       <h2 style="text-align:center;">Disputes</h2>
       <h5 style="text-align:center;">Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court and you consent to exclusive jurisdiction and venue of such courts. </h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Comments, Reviews, and Emails</h2>
        <h5 style="text-align:center;">Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content has to be free of software viruses, political campaign, and commercial solicitation.
            We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant the P2-Platypodes non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">License and Site Access</h2>
        <h5 style="text-align:center;">We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it. This may be done only with written consent from us.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">User Account</h2>
        <h5 style="text-align:center;">If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.
            We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.</h5>
    </div>

</div>
</body>

{% endblock %}