{% extends "base.html" %}

{% block head %}
<title> Meet the Platypodes </title>
{% endblock %}

{% block content %}
<center>
    <div class="card" style="width: 500px;">
        <img src="/static/Ayman.jpg" width="500" height="616.910229645">
        <div class="card-body">
            <h5 class="card-title"> Ayman Kazi (Scrum Master)</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</center>
<center>
    <div class="card" style="width: 500px;">
        <img src="/static/Pragadeesh.jpg" width="500" height="665.517241379">
        <div class="card-body">
            <h5 class="card-title"> Pragadeesh Raj (Frontend Developer)</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</center>
<center>
    <div class="card" style="width: 500px;">
        <img src="/static/Isai.jpg" width="500" height="665.517241379">
        <div class="card-body">
            <h5 class="card-title"> Isai Rajaraman (Backend Developer)</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</center>

{% endblock %}


