{% extends "base.html" %}

{% block head %}
<title> Meet the Platypodes </title>
{% endblock %}

{% block content %}
<center>
    <div class="card" style="width: 500px;">
        <img src="/static/Ayman.jpg" width="500" height="616.910229645">
        <div class="card-body">
            <h5 class="card-title"> Ayman Kazi (Scrum Master)</h5>
            <p class="card-text"> Hey users! I am a junior at Del Norte High School trying to become an experienced coder and benefit the world. Our team came up with an idea on how we could accomplish both. We decided to design a Covid-19 tracker that would display all relevant statistics and handpicked news article for you.
            </p>
        </div>
    </div>
</center>
<center>
    <div class="card" style="width: 500px;">
        <img src="/static/Pragadeesh.jpg" width="500" height="665.517241379">
        <div class="card-body">
            <h5 class="card-title"> Pragadeesh Raj (Frontend Developer)</h5>
            <p class="card-text"> Hi, my name is Pragadeesh and I'm currently a junior in Del Norte High School. Throughout my high school career,
                I have been very passionate about medicine and availability of medical information to all. During COVID-19,
                many people are unaware of certain aspects of the virus and the implications. Therefore, this computer science
                project was the perfect opportunity to create a COVID-19 tracker and make details about the virus known
                to a large audience.
            </p>
        </div>
    </div>
</center>
<center>
    <div class="card" style="width: 500px;">
        <img src="/static/Isai.jpg" width="500" height="550">
        <div class="card-body">
            <h5 class="card-title"> Isai Rajaraman (Backend Developer)</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</center>
<center>
<div class="card" style="width: 500px;">
    <img src="/static/Karam.jpg" width="500" height="666.6666667">
    <div class="card-body">
        <h5 class="card-title"> Karam Alshaikh (Frontend Developer)</h5>
        <p class="card-text"> Hello my name is Karam and I am a junior attending Del Norte High School. The reason behind this website is to show people the true colors of COVID 19 and how it is impacting everyone around the world.
    </div>
</div>
</center>

{% endblock %}


