{% extends "base.html" %}

{% block head %}
<title> Coronavirus (COVID-19) Frequently Asked Questions </title>
{% endblock %}

{% block content %}
<button type="button" class="collapsible">How long does it take to experience COVID-19 symptoms after exposure?</button>
<div class="content">
    <p>Symptoms may appear 2-14 days after you were exposed.</p>
</div>

<button type="button" class="collapsible">How long do you need to stay home after coming into close contact with someone who has COVID-19?</button>
<div class="content">
    <p>Anyone who has had close contact with someone with COVID-19 should stay home for 14 days after their last exposure to that person.</p>
</div>

<button type="button" class="collapsible">How to quarantine myself from family members if I have COVID-19?</button>
<div class="content">
    <p>
        Stay home unless you absolutely must leave, such as for essential medical appointments.
        Separate yourself from other household members and pets.
        Use a separate bedroom and bathroom if possible.
        Not share utensils, dishes, cups/glasses, bedding, towels, and other personal items.</p>
</div>

<button type="button" class="collapsible">What are some symptoms of COVID-19? </button>
<div class="content">
    <p>Symptoms include the following: fever or chills, cough, shortness of breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste or smell, sore throat, congestion or runny nose,nausea or vomiting, and diarrhea.</p>
</div>

<button type="button" class="collapsible">If anybody is showing emergency warning signs of COVID-19, seek emergency medical care immediately.</button>
<div class="content">
    <p>Trouble breathing, persistent pain or pressure in the chest, new confusion, inability to wake or stay awake, or bluish lips or face.</p>
</div>
{% endblock %}
<!--/* Style the button that is used to open and close the collapsible content */
.collapsible {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}-->