{% extends "base.html" %}

{% block head %}
<title> Coronavirus (COVID-19) Frequently Asked Questions </title>
{% endblock %}

{% block content %}
<h1 style="text-align:center;"> Coronavirus (COVID-19) Frequently Asked Questions </h1>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
</style>
</head>
<body>
<center>
<button class="collapsible">How long does it take to experience COVID-19 symptoms after exposure?</button>
<div class="content">
    <p>Symptoms may appear 2-14 days after you were exposed.</p>
</div>
<button class="collapsible">How long do you need to stay home after coming into close contact with someone who has COVID-19?</button>
<div class="content">
    <p>Anyone who has had close contact with someone with COVID-19 should stay home for 14 days after their last exposure to that person.</p>
</div>
<button class="collapsible">How should I quarantine myself from family members if I have COVID-19?</button>
<div class="content">
    <p> Stay home unless you absolutely must leave, such as for essential medical appointments.
        Separate yourself from other household members and pets.
        Use a separate bedroom and bathroom if possible.
        Not share utensils, dishes, cups/glasses, bedding, towels, and other personal items.</p>
</div>
<button class="collapsible">What are some symptoms of COVID-19? </button>
<div class="content">
    <p>Symptoms include the following: fever or chills, cough, shortness of breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste or smell, sore throat, congestion or runny nose, nausea or vomiting, and diarrhea.</p>
</div>
<button class="collapsible">If anybody is showing any of the following emergency warning signs of COVID-19, seek emergency medical care immediately.</button>
<div class="content">
    <p>Trouble breathing, persistent pain or pressure in the chest, new confusion, inability to wake or stay awake, or bluish lips or face.</p>
</div>
</center>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

<h1 style="text-align:center;"> COVID-19 Prevntion</h1>
<!--<p style="text-align:center;"> Wear a mask. Save lives.</p>-->

<button class="collapsible">The best way to prevent illness is to avoid being exposed to this virus. Learn how COVID-19 spreads and practice these actions to help prevent the spread of this illness. </button>
<div class="content">
    <p>To help prevent the spread of COVID-19, everyone should:
        Clean your hands often, either with soap and water for 20 seconds or a hand sanitizer that contains at least 60% alcohol.
        Avoid close contact with people who are sick.
        Put distance between yourself and other people (at least 6 feet).
        Cover your mouth and nose with a mask when around others.
        Cover your cough or sneeze with a tissue, then throw the tissue in the trash.
        Clean and disinfect frequently touched objects and surfaces daily.
        CDC recommends that people wear masks in public settings and when around people outside of their household, especially when other social distancing measures are difficult to maintain.
        Masks may help prevent people who have COVID-19 from spreading the virus to others.</p>
</div>

<h1 style="text-align:center;">Learn More</h1>
{% endblock %}





